altgraph==0.17
bleach==3.3.0
fastjsonschema==2.15.0
importlib-metadata==3.10.0
jinja-markdown==1.200630
Jinja2==2.11.3
macholib==1.14
Markdown==3.3.4
MarkupSafe==1.1.1
packaging==20.9
Pygments==2.8.1
PyInstaller==4.2
pyinstaller-hooks-contrib==2021.1
pymdown-extensions==8.1.1
pyparsing==2.4.7
six==1.15.0
webencodings==0.5.1
zipp==3.4.1

