<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{{collection.name}}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <ul class="list-group">
                {% for item in side_tree %}
                <li class="list-group-item">{{item}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
            {% for api in api_info %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{api.method}} : {{api.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{api.url}}</h6>
                <p class="card-text">{{api.description}}</p>
              </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm">
          {% for api in api_info %}
                {% for response in api.responses %}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{response.method}} : {{response.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{response.url}}</h6>
                        <p class="card-text">{{response.request_body}}</p>
                        <p class="card-text">{{response.response_body}}</p>
                      </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>